@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: local("IBMPlexMono-SemiBold"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf");
}
@font-face {
  font-family: "IBMPlexMono-Italic";
  src: local("IBMPlexMono-Italic"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-Italic.ttf");
}
@font-face {
  font-family: "IBMPlexMono-LightItalic";
  src: local("IBMPlexMono-LightItalic"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-LightItalic.ttf");
}
@font-face {
  font-family: "IBMPlexMono-Regular";
  src: local("IBMPlexMono-Regular"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: "IBMPlexMono-Thin";
  src: local("IBMPlexMono-Thin"),
    url("./assets/fonts/IBMPlexMono/IBMPlexMono-Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: IBMPlexMono-Regular, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #0a1818;
  background: linear-gradient(#f5e8e8, #f9f1f1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0a1818;
  text-decoration: inherit;
}
a:hover {
  color: #070e0e;
}

h1 {
  font-family: IBMPlexMono-Italic, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

h2 {
  font-family: IBMPlexMono-LightItalic, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.background-pane {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 3vh 3vh #f5e8e8 inset;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar {
  backdrop-filter: blur(2.1vw);
}

.navlink {
  padding-right: 1.25rem;
}

.pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 875px;
  box-sizing: border-box;
}

.card-container {
  justify-content: center;
  width: 94.4vw;
  flex-shrink: 0;
}

.card {
  width: 425px;
  height: 261px;
  background-color: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(9px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw 1vw;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 38.2%;
  width: 85.4%;
}

.card-content {
  display: flex;
  align-items: center;
  text-align: center;
  height: 61.8%;
  width: 85.4%;
}

.portrait-card {
  width: 425px;
  height: 685px;
  background-color: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(9px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 1vw 1vw;
}

.section-content p {
  margin-bottom: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 200px;
  row-gap: 0px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.grid-item {
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  max-width: 100%;
}
